{% load static %}
<link rel="stylesheet" href="{% static 'polls/styles.css' %}">
<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Roboto&display=swap"
    rel="stylesheet">

<h1>KU-polls</h1>
<button><a href="{% url 'login' %}">login</a></button>
<button><a href="{% url 'logout' %}">logout</a></button>

{% if latest_question_list %}
{% for question in latest_question_list %}
<div class="show-question">
    {% if question.can_vote %}
    <p>
        <button class="btn-result"><a class="see-result-question" href="{% url 'polls:results' question.id %}">see
                result</a></button>
        <a href="{% url 'polls:detail' question.id %}" style="color: #6E85B7;">{{ question.question_text }}</a>
    </p>
    {% elif not question.can_vote %}
    <p>
        <button class="btn-result"><a class="see-result-question" href="{% url 'polls:results' question.id %}">see
                result</a></button>
        {{ question.question_text }}
    </p>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p>No polls are available.</p>
{% endif %}